
/* .welcome_section_right{
    width: 350px;
    height: 250px;
}

.welcome_section_right img{
    max-width: 100%;
}

.welcome_section{
display: flex;
}

.text{
    margin: 20px 30px;
} */


li{
   list-style:none;
    display: flex;
    margin-right: 10px;
}

.container{
    margin: 0 100px;
    padding: 0 100px;
}
.menu{
    border: 1px solid blue;
    background-color: blue;
   
    height: 80px;
    display: flex;
  
 flex-direction: row-reverse;
 justify-content: space-between;
 text-align: center;


}